#SubmissionStorageService
localhost
#SubmissionReceiverService
localhost
#SharderService
localhost
#GradeCompilerService
localhost
#GradeStorageService
localhost
#AssignmentStorageService
localhost
#GradeStorageServiceDB
localhost:23140
localhost:23141
localhost:23142
#AssignmentStorageServiceDB
localhost:23143
localhost:23144
localhost:23145
#SubmissionStorageServiceDB
localhost:23146
localhost:23147
localhost:23148
#SharderServiceDB
localhost:23149
localhost:23150
localhost:23151
#StudentServiceDB
localhost:23152
localhost:23153
localhost:23154
