#SubmissionStorageService
localhost
#SubmissionReceiverService
localhost
#SharderService
localhost
#GradeCompilerService
localhost
#GradeStorageService
localhost
#AssignmentStorageService
localhost
#GradeStorageServiceDB
localhost:27017
localhost:27017
#AssignmentStorageServiceDB
localhost:27017
localhost:27017
#SubmissionStorageServiceDB
localhost:27017
localhost:27017
#SharderServiceDB
localhost:27017
localhost:27017
#StudentServiceDB
localhost:27017
localhost:27017
