@CHARSET "ISO-8859-1";

body{background-color:#000;color:#fff;font-size:14pt;}
input[type="text"],select{display:block;background-color:#000;color:#fff;}
input[type="text"]{width:32em;}
input[disabled="disabled"]{background-color:#ddd;}